html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.calcborder {
  margin-top: 30px;
  background-color: rgb(220, 220, 220);
  border: 10px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  height: 700px;
  width: 600px;
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
}

.displayborder {
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: flex;
  height: 150px;
  margin: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
}

.display {
  display: flex;
  flex-flow: row-reverse wrap;
  overflow: hidden;
  margin-right: 10px;
  font-size: 50px;
  font-weight: 600;
  color: rgb(240, 240, 240);
  width: 100%;
}

.btns {
  /* border: 2px dotted black; */
  display: flex;
  flex-direction: column;
}

button {
  flex: 1 0 0;
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-radius: 15px;
}

.btnsmain {
  display: flex;
  /* justify-content: space-around; */
}

.btnsleft {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rowone,
.rowtwo,
.rowthree,
.rowfour {
  display: flex;
  flex: 1 0 0;
  gap: 25px;
}

.btnsright {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
  flex-flow: column nowrap;
  gap: 5px;
}


.clearbtn button {
  margin-left: 60px;
  margin-top: 10px;
  width: auto;
}


.footer {
  margin-top: 40px;
  padding: 5px;
  font-family: Trattatello, fantasy;
  background-color: rgba(49, 52, 107, 0.3);
  text-align: center;
}