html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.calcborder {
  margin-top: 30px;
  background-color: rgb(157, 157, 157);
  border: 10px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  /* height: 800px; */
  width: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
}

.displayborder {
  display: flex;
  /* flex: 1 0 auto; */
  min-height: 150px;
  height: auto;
  flex-flow: column nowrap;
  border: 2px inset rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  /* height: 150px; */
  margin: 30px;
  /* justify-content: flex-end;
  align-items: flex-end; */
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.displaytop {
  font-size: 35px;
}

.displaybottom {
  font-size: 50px;
}

.displaytop, .displaybottom {
  align-items: center;
  padding-right: 5px;
  height: 50%;
  color: rgb(240, 240, 240);
  display: flex;
  flex-flow: row-reverse wrap;
  font-weight: 600;
  width: 100%;
  overflow-wrap: anywhere;
  /* white-space: initial; */
  text-align: right;
}


.btns {
  /* border: 2px dotted black; */
  display: flex;
  flex-direction: column;
}

button {
  flex: 1 0 0;
  width: 75px;
  height: 75px;
  font-size: 40px;
  border-radius: 15px;
}

.btnsmain {
  display: flex;
  /* justify-content: space-around; */
}

.btnsleft {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rowone,
.rowtwo,
.rowthree,
.rowfour {
  display: flex;
  flex: 1 0 0;
  gap: 10px;
}

.btnsright {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  flex-flow: column nowrap;
  gap: 5px;
}

.plus, .minus, .times, .divided {
  color: rgb(40, 40, 169);
}

.clear {
  color: rgb(156, 19, 19);
}

.clearbtn button {
  margin: 20px 50px;
  width: auto;
}

.tip {
  font-size: 11px;
  font-weight: 400;
  margin: 20px 10px 20px auto;
}


.footer {
  margin-top: auto;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  background-color: rgba(49, 52, 107, 0.2);
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
}

/* unvisited link */
a:link {
  color: #9e011e;
}

/* visited link */
a:visited {
  color: #512471;
}

/* mouse over link */
a:hover {
  color: #ff0000;
}

/* selected link */
a:active {
  color: #ffffff;
}