html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.calcborder {
  margin-top: 30px;
  background-color: rgb(205, 205, 205);
  border: 10px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  /* height: 800px; */
  width: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
}

.displayborder {
  display: flex;
  /* flex: 1 0 auto; */
  height: 150px;
  flex-flow: column nowrap;
  border: 2px inset rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  /* height: 150px; */
  margin: 30px;
  /* justify-content: flex-end;
  align-items: flex-end; */
  background-color: rgba(0, 0, 0, 0.8);
}

.displaytop, .displaybottom {
  align-items: center;
  height: 50%;
  display: flex;
  flex-flow: row-reverse wrap;
  font-size: 50px;
  font-weight: 600;
  color: rgb(240, 240, 240);
  overflow: scroll;
  width: 100%;
  overflow-wrap: anywhere;
  /* white-space: initial; */
  text-align: right;
}

/* .displaybottom {
  align-items: center;
  height: 50%;
  display: flex;
  flex-flow: row-reverse;
  overflow: hidden;
  margin-right: 10px;
  font-size: 50px;
  font-weight: 600;
  color: rgb(240, 240, 240);
  width: 100%;
} */

.btns {
  /* border: 2px dotted black; */
  display: flex;
  flex-direction: column;
}

button {
  flex: 1 0 0;
  width: 75px;
  height: 75px;
  font-size: 40px;
  border-radius: 15px;
}

.btnsmain {
  display: flex;
  /* justify-content: space-around; */
}

.btnsleft {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rowone,
.rowtwo,
.rowthree,
.rowfour {
  display: flex;
  flex: 1 0 0;
  gap: 10px;
}

.btnsright {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  flex-flow: column nowrap;
  gap: 5px;
}


.clearbtn button {
  margin: 20px 50px;
  width: auto;
}


.footer {
  margin-top: 40px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(49, 52, 107, 0.2);
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
}

/* unvisited link */
a:link {
  color: #7202a6;
}

/* visited link */
a:visited {
  color: #433880;
}

/* mouse over link */
a:hover {
  color: #e784fd;
}

/* selected link */
a:active {
  color: #e784fd85;
}